<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid mt-3">
        <h1 class="text-center mb-3">
            <%= message%>
        </h1>
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <% for (let player of players) {%>
                        <div class="col-md-6 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= player.pName%>
                                            <%= player.surname%>
                                    </h5>
                                    <h6 class="card-subtitle mb2 text-muted">
                                        <%= player.position%>
                                    </h6>
                                    <p class="card-text">
                                        Nationality: <%= player.nationality%>
                                    </p>
                                    <p class="card-text">
                                        Team: <%= player.team%>
                                    </p>
                                    <p class="card-text">
                                        Salary: <%= player.salary%>
                                    </p>
                                    <a href="/editPlayer/<%= player.pId %>" class="btn btn-warning btn-sm">EDIT</a>
                                    <a href="/deletePlayer/<%= player.pId %>" class="btn btn-danger btn-sm">DELETE</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Add New Player</h3>
                <form action="/addPlayer" method="post">
                    <div class="form-group">
                        <label for="pName">Name</label>
                        <input type="text" class="form-control" id="pName" name="pName" placeholder="Enter name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname</label>
                        <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter surname"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="position">Position</label>
                        <input type="text" class="form-control" id="position" name="position"
                            placeholder="Enter position" required>
                    </div>
                    <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <input type="text" class="form-control" id="nationality" name="nationality"
                            placeholder="Enter nationality" required>
                    </div>
                    <div class="form-group">
                        <!-- make a list of teams to select: -->
                        <label for="team">Team</label>
                        <select class="form-control" id="team" name="team">
                            <% for (let team of teams) {%>
                                <option>
                                    <%= team.name %>
                                </option>
                                <% } %>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" id="salary" name="salary" placeholder="Enter salary">
                    </div>

                    <button type="submit" class="btn btn-primary">Add Player</button>



                </form>
            </div>
        </div>
    </div>

</body>

</html>