<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>

</head>

<body class="bg-dark text-white">

    <div class="container-fluid mt-3">
        <h1 class="text-center mb-3">
            <%= message%>
        </h1>
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <% for (let player of players) {%>
                        <div class="col-md-6 mb-3">
                            <div class="card bg-dark border-light">
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Informacje o graczu -->
                                        <div class="col-md-7">
                                            <h5 class="card-title text-white">
                                                <%= player.name%>
                                                    <%= player.surname%>
                                            </h5>
                                            <h6 class="card-subtitle mb2 text-muted">
                                                <%= player.position%>
                                            </h6>
                                            <p class="card-text">Nationality: <%= player.nationality%>
                                            </p>
                                            <p class="card-text">Team: <%= player.team%>
                                            </p>
                                            <p class="card-text">
                                                <% if (player.salary>= 1000000) {%>
                                                    Salary: <%= (player.salary / 1000000).toFixed(2) %> mln
                                                        <% } else if (player.salary>= 1000) {%>
                                                            Salary: <%= (player.salary / 1000).toFixed(2) %> k
                                                                <% } else {%>
                                                                    Salary: <%= player.salary %>
                                                                        <% } %>
                                            </p>
                                            <a href="/editPlayer/<%= player.id %>"
                                                class="btn btn-warning btn-sm">EDIT</a>
                                            <a href="/deletePlayer/<%= player.id %>"
                                                class="btn btn-danger btn-sm">DELETE</a>
                                        </div>
                                        <!-- Zdjęcie gracza -->
                                        <div class="col-md-5">
                                            <% if (player.imagePath) { %>
                                                <img src="<%= player.imagePath %>" alt="Player Image" class="img-fluid">
                                                <% } else { %>
                                                    <img src="../public/placeholder/placeholder.png" alt="Player Image"
                                                        class="img-fluid">
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Add New Player</h3>
                <form action="/addPlayer" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control bg-dark text-white border-light" id="name" name="name"
                            placeholder="Enter name" required>
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname</label>
                        <input type="text" class="form-control bg-dark text-white border-light" id="surname"
                            name="surname" placeholder="Enter surname" required>
                    </div>
                    <div class="form-group">
                        <label for="position">Position</label>
                        <select class="form-control bg-dark text-white border-light" id="position" name="position"
                            required>
                            <option value="PG">PG</option>
                            <option value="SG">SG</option>
                            <option value="SF">SF</option>
                            <option value="PF">PF</option>
                            <option value="C">C</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <input type="text" class="form-control bg-dark text-white border-light" id="nationality"
                            name="nationality" placeholder="Enter nationality" required>
                    </div>
                    <div class="form-group">
                        <label for="team">Team</label>
                        <select class="form-control bg-dark text-white border-light" id="team" name="team_id">

                            <% for (let team of teams) {%>
                                <option value="<%= team.id %>">
                                    <%= team.name %>
                                </option>
                                <% } %>

                        </select>

                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control bg-dark text-white border-light" id="salary"
                            name="salary" placeholder="Enter salary" value=0>
                    </div>

                    <!-- Begin player image upload section -->

                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="playerImageInput" name="playerImage"
                            accept="image/*" onchange="previewFile()">
                        <label class="custom-file-label" for="playerImageInput">Wybierz zdjęcie...</label>
                    </div>

                    <!-- Image preview container with Bootstrap class to set width and height -->
                    <div class="d-inline-block" style="width: 100%;">
                        <img id="previewImage" src="#" alt="Podgląd wybranego zdjęcia" style="width: 100%;">
                    </div>

                    <button class="btn btn-primary w-100">Add Player</button>

                </form>
            </div>
        </div>
    </div>
    <script>
        let cropper;

        function previewFile() {
            const preview = document.querySelector('#previewImage');
            const file = document.querySelector('#playerImageInput').files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;

                if (cropper) {
                    cropper.destroy();
                }

                cropper = new Cropper(preview, {
                    aspectRatio: 115 / 155,
                    viewMode: 3,
                    autoCropArea: 1,
                    restore: false,
                    guides: false,
                    highlight: false,
                    cropBoxMovable: true,
                    cropBoxResizable: false,
                    toggleDragModeOnDblclick: false,
                });

            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }

        function sendCroppedImage() {
            const croppedCanvas = cropper.getCroppedCanvas();
            const croppedImageUrl = croppedCanvas.toDataURL('image/png');

        }



    </script>
</body>

</html>